<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>528649712568-22ejb5jhojk74g9suicnkii029chvru5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.528649712568-22ejb5jhojk74g9suicnkii029chvru5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>528649712568-h297g4bvl5gjg0t9c2khgc07fvbg6rsm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAAJTZJt_D0Sth30oOvinr3cqfCXDVbqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>528649712568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.b-In-touch.app</string>
	<key>PROJECT_ID</key>
	<string>b-in-touch-314418</string>
	<key>STORAGE_BUCKET</key>
	<string>b-in-touch-314418.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:528649712568:ios:30d41acdcb1af7612a954d</string>
</dict>
</plist>